:root {
    --rp-primaryColor: #0069BC;
    --rp-primaryColorDark: #003F70;
    --rp-primaryColorLight: #1095FB;
    --rp-secondaryColor: #A2A0A0;
    --rp-secondaryColorLight: #CFCECE;
    --rp-dark-color: #131313;
    --rp-light-gray: #d9d9d9;
    --rp-light-color: #eeeeee;
    --rp-title-font: 'Fira Sans', sans-serif;
    --rp-body-font: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    /* fallback for old browsers */
    background-color: white;
    display: flex;
    flex-direction: column;
    color: var(--rp-dark-color);
    font-family: var(--rp-body-font);
    font-weight: 400;
    font-size: 1.2rem;
}
/*--Button Overrides --*/
/*-- Button styles override Bootstrap Styles --*/
.btn-outline-primary {
    color: var(--rp-dark-color);
    border-color: var(--rp-primaryColor) !important;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:focus {
        border-color: var(--rp-secondaryColor) !important;
        background-color: var(--rp-primaryColor);
    }

.btn-primary {
    color: white !important;
    background-color: var(--rp-primaryColor) !important;
    border-color: var(--rp-secondary-color);
}

    .btn-primary:hover {
        filter: brightness(1.2) !important;
        border-color: var(--rp-primaryColorDark);
    }

    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        filter: brightness(1.2) !important;
    }

.btnlinks {
    width: 7rem;
}

nav {
    background-color: var(--rp-primaryColorLight);
    z-index: 2;
}

#hamburgerBorder {
    color: white;
    border: 2px solid white;
}

#hamburgerIcon {
    color: var(--rp-primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--rp-title-font);
    font-weight: 600;
    text-transform: uppercase;
}

main {
    background-color: var(--rp-primaryColorLight);
}

.content {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.heroCard {
    min-height: 100%;
}

.texthighlight {
    color: var(--rp-primaryColor);
}

.heroTitle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--rp-title-font);
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
}

.pageHeader {
    background-color: var(--rp-secondaryColor);
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.pageTitle {
    font-family: var(--rp-title-font);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
}

.navShadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sideNav {
    border-radius: 25px;
    border-color: var(--rp-light-color);
    border-style: solid;
    border-width: 3px;
    background-color: var(--rp-secondaryColor);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}

.editIcons {
    font-size: 1.5rem;
    opacity: .9;
    color: var(--rp-primaryColorDark);
}

    .editIcons:hover {
        color: var(--rp-primaryColor);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }

.imgicon {
    display: inline;
    height: 3.5rem;
    margin: 0rem .3rem;
}

figcaption {
    color: var(--rp-dark-color);
    font-size: 0.8rem;
    text-align: center;
}


.icon {
    font-size: 3.5rem;
}

.footer {
    flex-shrink: 0;
    background-color: var(--rp-secondaryColor);
}

.copyright {
    color: var(--rp-primaryColorDark);
    font-size: .9rem;
}

.socialicons {
    color: var(--rp-primaryColorDark);
    opacity: .9;
    font-size: 2rem;
}

    .socialicons:hover {
        color: var(--rp-primaryColor);
        opacity: 1;
        cursor: pointer;
    }

.square-img-container {
    position: relative;
    background-color: var(--rp-primaryColorLight);
    border-color: var(--rp-light-gray);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .heroTitle {
        font-size: 3.5rem;
    }
}


